{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is about page</h1>
{{/*                <p>This is some text</p>*/}}

{{/*                <p>This came from template data: {{index .StringMap "title"}}</p>*/}}

{{/*                <p>*/}}
{{/*                    {{if ne (index .StringMap "remote_IP") ""}}*/}}
{{/*                        Your remote IP Address is {{index .StringMap "remote_IP"}}*/}}
{{/*                        {{else}}*/}}
{{/*                        I don't know your IP.Go to <a href="/">Home Page</a> so I can store it*/}}
{{/*                            {{end}}*/}}
{{/*                </p>*/}}

{{/*                <img src="./static/images/outside.png" alt="img1">*/}}
            </div>
        </div>
    </div>

{{end}}